
.card .card-arrow-bottom-left:before, .card .card-arrow-bottom-right:before, .card .card-arrow-top-left:before, .card .card-arrow-top-right:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    background: aqua;
    opacity: .75;
}

.card .card-arrow-bottom-left:after, .card .card-arrow-bottom-right:after, .card .card-arrow-top-left:after, .card .card-arrow-top-right:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: aqua;
    opacity: .75;
}