
/*.form-select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='16' style='color:red' fill='aqua' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
}
.control {
    border-image: linear-gradient(to right,#323949, #5FC8CC,#323949) 1 !important;*/
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='16' style='color:red' fill='aqua' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E") !important;*/
/*}


.form-select {
    border-image: linear-gradient(to right,#323949, #5FC8CC,#323949) 1 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='16' style='color:red' fill='aqua' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E") !important;
}

body .picker .pc-select .pc-element {
   
    border-image: linear-gradient(to right,#323949, #5FC8CC,#323949) 1 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='16' style='color:red' fill='aqua' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E") !important;
}

.picker {
    border-image: linear-gradient(to right,#323949, #5FC8CC,#323949) 1 !important;
}


.me-3 {
    margin-left: 1rem !important;
    margin-top: 9px;
    margin-right: 10px;
}

.form-check-input:checked, .list-group-item.active, .nav-pills .nav-link.active, .nav-pills .show > .nav-link, .page-item.active .page-link {
    background-color: inherit;
    border-bottom: 3px solid #5FC8CC;
    color: #5FC8CC;
    border-bottom-color: #5FC8CC;
    display: block;*/
    /* padding: 0.5rem 1rem; */
    /*color: #5FC8CC;*/
    /* text-decoration: none; */
    /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; */
    /*margin-left: 1rem !important;
    padding: 0px;
}


.btn-outline-theme {
    color: var(--bs-theme);*/
    /* border-color: var(--bs-theme); */
    /*border-color: transparent;
}

.cssss:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #7bf1f5, #2559ad);
}
.cd {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #7bf1f5, #2559ad);
}*/
