jdp-container {
    background: var(--bs-Clock-theme-panel-bg);
    border: 2px solid #05c5c76b;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    padding: 5px;
    box-shadow: 0rem 0rem 2rem rgba(var(--bs-inverse-rgb), .1);
    margin-top: 2px;
}
    jdp-container .jdp-days {
        background: var(--bs-Clock-theme-Month-bg);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        margin-top: 5px;
    }
        jdp-container .jdp-icon-plus {
        border-radius: 0 12px 12px 0 !important;
        border-color: #05c5c782;

    }

    jdp-container .jdp-icon-minus {
        border-radius: 12px 0 0 12px !important;
        border-color: #05c5c782;
    }

    jdp-container .jdp-month, jdp-container .jdp-month input, jdp-container .jdp-month select, jdp-container .jdp-time, jdp-container .jdp-time input, jdp-container .jdp-time select, jdp-container .jdp-year, jdp-container .jdp-year input, jdp-container .jdp-year select {
        background: linear-gradient(to right,#04c5c736,#04c5c7e8,#04c5c736);
    }

    jdp-container .jdp-btn-close, jdp-container .jdp-btn-empty, jdp-container .jdp-btn-today {
        background: linear-gradient(to right,#04c5c780,#04c5c7e8,#04c5c780);
        border: 1px solid #05c5c782;
        width: 18%;
        color: var(--bs-body-color);
        border-radius: 10px
    }
    /* روز تعطیل*/

    jdp-container .jdp-day-name.holly-day, jdp-container .jdp-day-name.last-week, jdp-container .jdp-day.holly-day, jdp-container .jdp-day.last-week {
        color: #f9ff00 !important;
    }
    /*بک گروند شنبه تا جمعه*/
    jdp-container .jdp-day-name {
        background: linear-gradient(to right,#04c5c780,#04c5c7e8,#04c5c780);
    }
    /**/
    jdp-container .jdp-day, jdp-container .jdp-day-name {
        margin: 1px 0;
    }
        /*تغییر رنگ روزهای هفته*/
        jdp-container .jdp-day:not(.disabled-day) {
            color: var(--bs-body-color);
            margin: 0px
        }
    /* تغییر رنگ علائم svg */
    jdp-container .jdp-icon-minus svg, jdp-container .jdp-icon-plus svg {
        fill: var(--bs-body-color);
    }
    /* رنگ مربوط به امروز*/
    jdp-container .jdp-day-name.today, jdp-container .jdp-day.today {
        border-color: #04c5c7;
    }
    /* رنگ مربوط به روز انتخابی*/
    jdp-container .jdp-day-name.selected, jdp-container .jdp-day.selected {
        background-color: #04c5c7d4 !important;
        border-color: #05c6c8;
    }
    /* تغییر رنگ پیمایش تاریخ*/
    jdp-container .jdp-day:hover {
        background-color: #8582829b !important;
    }
    /* رنگ فونت زمان*/
    jdp-container .jdp-time-container .jdp-time {
        color: #050505;
        border-radius: 10px;
        border: 1px solid #04c5c79c;
        height: 35px;
        margin: 0 .25rem
    }

        jdp-container .jdp-time-container .jdp-time select {
            font-size: 100% !important;
            font-weight: 900 !important;
            padding: 3px 0px 9px 0px;
            color: var(--bs-body-color);
        }
    jdp-container .jdp-footer {
        padding: 0;
        margin-top: 6px;
    }
    jdp-container .jdp-time-container {
        margin-top: 6px;
    }
        jdp-container .jdp-time-container .jdp-time:after {
            content: ":";
            font-size: 2.5rem;
            position: absolute;
            right: -0.6rem;
            /*top: 36%;*/
            transform: translateY(-50%);
            margin-top: -18px;
            color: var(--bs-body-color);
        }
    jdp-container .jdp-month select, jdp-container .jdp-time select, jdp-container .jdp-year select {
        color: var(--bs-body-color);
    }
