.form-label {
    margin-bottom: 2px;
}

.form-label {
    position: absolute;
    /*background-color: #06263f;*/
    background-color: var(--bs-tab-content-bg);
    padding: 0 5px;
    font-size: 10px;
    color: #fff;
    pointer-events: none;
    margin-top: -10px;
    margin-right: 8px !important;
    /*    border-left: 1px solid #ffffff63; 
    border-right: 1px solid #ffffff63;*/
    /*border-radius: 4px;*/
}

span.red-star {
    color: red;
    font-size: 18px;
    margin-top: -8px;
    position: absolute;
    margin-right: -5px;
}
/*.form-select {
    color: #fff0;
}
body .picker .pc-select .pc-element {
    color: #fff0;
}*/
/*------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}
/*------------------------------------------------------------*/
/*برای سلکتور ها*/
.picker, .form-select {
    border: 2px solid var(--bs-border-input-color) !important;
    border-radius: 8px !important;
    /*background-color: #06263f !important;*/
    /*background-color: var(--bs-tab-content-bg) !important;*/
    margin-bottom: 23px !important;
    font-size: 12px !important;
    /*color: #82f7ec8a !important;*/
    color: var(--bs-txt-inputs-color) !important;
}

    .picker .pc-element, .picker .pc-trigger {
        background-image: none !important;
    }
/*------------------------------------------------------------*/
/*برای اینپوت ها*/
input[class="form-control"], input, textarea, textarea[class="form-control"], .inputDiv, inputDiv[class="form-control"], selectinputDiv[class="form-select"] {
    border: 2px solid var(--bs-border-input-color) !important;
    border-radius: 8px !important;
    /*background-color: #06263f !important;*/
    background-color: var(--bs-tab-content-bg) !important;
    margin-bottom: 23px !important;
    font-size: 12px !important;
    /*color: #82f7ec8a !important;*/
    color: var(--bs-txt-inputs-color) !important;
}
/*------------------------------------------------------------*/
.VecGeneral {
    /*font-size: 15px;*/
    width: 14.5px !important;
}
/*------------------------------------------------------------*/
/*input[class="form-control"] {
    border-image: linear-gradient(to right,#323949, #5FC8CC,#323949) 1 !important;
}*/
.form-select {
    /*border-image: linear-gradient(to right,#323949, #5FC8CC,#323949) 1 !important;*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='16' style='color:red' fill='aqua' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E") !important;
}

body .picker .pc-select .pc-element {
    /*border-image: linear-gradient(to right,#323949, #5FC8CC,#323949) 1 !important;*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='16' style='color:red' fill='aqua' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E") !important;
    font-size: 12px;
    /*color: #82f7ec8a !important;*/
    color: var(--bs-txt-inputs-color) !important;
}

/*.picker {
    border-image: linear-gradient(to right,#323949, #5FC8CC,#323949) 1 !important;
}*/
/*---------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------*/

/*.my_Select *{
    background-color:#1D2834 !important;
    color:white !important;
}*/
.my_Select div:hover {
    background-color: red !important;
}

/*برای button*/
/*برای آپلود و بارگیری*/
.buttonaplodanddownliad {
    border-radius: 20px;
    color: white;
    background-color: #0d3244
}
/*---------------------------------------------------------------------------------*/
@media (max-width: 768px) {
    .buttonGeneral {
        margin-right: auto !important;
        margin-bottom: 8px !important;
    }

        .buttonGeneral:hover {
            transform: translateX(0%) !important;
        }
    /*-----------------------------------------*/
    .buttonGeneralMins, .buttonGeneralPlus, .buttonsabtW, .buttonGeneralW {
        margin-right: auto !important;
        margin-bottom: 8px !important;
    }

    /*-----------------------------------------*/
}

.buttonGeneral {
    width: 35px;
    height: 35px;
    /* width: max-content; */
    border-radius: 10px;
    background: linear-gradient(129deg, rgba(29, 29, 27, 1) 0%, rgba(29, 113, 184, 1) 53%, rgba(54, 169, 225, 1) 100%);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    position: relative;
    margin-top: 0px;
}

.VecGeneral {
    transition-duration: .3s;
    margin: 10px;
    color: #fff;
    font-size: 15px;
    font-size: large;
}

.buttonGeneral:hover {
    width: 160px;
    border-radius: 10px;
    transition-duration: .3s;
    align-items: center;
    transform: translateX(75%);
}

    .buttonGeneral:hover .VecGeneral {
        width: 50px;
        transition-duration: .3s;
        transform: translateY(240%);
    }

.bGeneral-text {
    position: absolute;
    top: -20px;
    color: white;
    font-size: 2px;
}

.buttonGeneral:hover .bGeneral-text {
    font-size: 13px;
    opacity: 1;
    transform: translateY(28px);
    transition-duration: .3s;
}

/*--------------*/
@media (max-width: 768px) {
    .buttonsabt {
        margin-right: auto !important;
        margin-bottom: 8px !important;
    }

        .buttonsabt:hover {
            transform: translateX(0%) !important;
        }
}

.buttonsabt {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-image: linear-gradient(#46b8cd, #10635b);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
    /*border: 2px solid #ffffff7a;*/
    margin-top: 0px;
}

.VecGeneral {
    transition-duration: .3s;
    margin: 10px;
    color: #fff;
    font-size: 15px;
    font-size: large;
}

.buttonsabt:hover {
    width: 160px;
    border-radius: 10px;
    transition-duration: .3s;
    align-items: center;
    transform: translateX(75%); /* #برای باز شدن به سمت راست*/
}

    .buttonsabt:hover .VecGeneral {
        width: 50px;
        transition-duration: .3s;
        transform: translateY(240%);
    }

.bSabt-text {
    position: absolute;
    top: -20px;
    color: white;
    font-size: 2px;
    opacity: 0;
    text-align: center;
    width: 100%;
}

.buttonsabt:hover .bSabt-text {
    font-size: 13px;
    opacity: 1;
    transform: translateY(28px);
    transition-duration: .3s;
}

/*------------------------------*/
.me-1 {
    margin-left: 11px !important;
    margin-top: 11px !important;
    width: 20px !important;
}

/*---------------------------------------------------------------------------------*/
.buttonGeneralMins {
    width: 35px;
    height: 35px;
    /*width: max-content;*/
    border-radius: 10px;
    background-image: linear-gradient(#c54300, #693200);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    position: relative;
    margin-top: 0px;
}

.buttonGeneralPlus {
    width: 35px;
    height: 35px;
    /*width: max-content;*/
    border-radius: 10px;
    background-image: linear-gradient(#46b8cd, #10635b);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    position: relative;
    margin-top: 0px;
}
/*---------------------------------------------------------------------------------*/
/*برای ثبت*/
.buttonsabtW {
    border-radius: 20px;
    color: white !important;
    background-image: linear-gradient(#46b8cd, #10635b);
}
/*برای عموم کلید ها*/
.buttonGeneralW {
    /*background: linear-gradient(#0d3244, #0d3244) padding-box, linear-gradient(to bottom, #7bf1f5, #3cd0a5) border-box;*/
    background-image: linear-gradient(#46b8cd, #1d71b8);
    border-radius: 17px;
    border: 2px solid transparent;
    margin-bottom: 23px !important;
    margin-top: unset !important;
    margin-top: 0px !important;
}

.buttonGeneralW {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .9em;
    color: white !important;
    padding: 5px 8px 5px 8px;
    cursor: pointer;
}
/*---------------------------------------------------------------------------------*/
/*برای رایدوباتن ها*/
.form-check-input[type="checkbox"] {
    border-radius: 7px !important;
    border-width: 2px !important;
    height: 24px;
    width: 24px;
    border-color: #3dd0a6;
}

.form-check-input[type="radio"] {
    border-radius: 25px !important;
    height: 24px;
    width: 24px;
    border: 2px solid var(--bs-border-input-color) !important;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    background-color: #30beff !important;
    border-color: #fff !important;
    border-width: 2px !important;
    box-shadow: 0 .1rem 1rem rgba(var(--bs-inverse-rgb), 0.2);
}

/*-----------------------------------------{ استایل جدید تب ها }-------------------------------------------*/
ul.nav-tabs {
    margin-bottom: unset !important;
    margin-top: 0 !important;
}


.nav-tabs {
    /*margin-top: 7px;*/
    display: flex;
    justify-content: center;
    border-bottom: 0 !important;
}

.nav-item.me-3 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*----*/
.nav-btn {
    margin-bottom: unset !important;
    border: 0 !important;
    padding: 8px 2px !important;
    background-color: transparent !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
}

.nav-link {
    /*padding: 8px 16px 0 16px !important;*/
    padding: 4px 9px 0 9px !important;
}

.nav-tabs .nav-link {
    border-radius: 10px 10px 0 0 !important;
    margin-right: 1px !important;
    margin-left: 1px !important;
    background: var(--bs-tab-notActiv-bg);
}

ul.nav-tabs li {
    display: inline-block !important; /* Display the buttons in a row */
}


.nav.nav-tabs.nav-tabs-v2 > .nav-item > .nav-link.active, .nav.nav-tabs.nav-tabs-v2 > .nav-item > .nav-link:hover {
    background: var(--bs-tab-content-bg) !important;
    border: 1px solid #06c7c9 !important;
    border-bottom-color: #3cd2a503 !important;
}

.nav-tabs .nav-link.active button {
    font-size: 13px !important; /* اندازه فونت برای تب‌های فعال */
    color: var(--bs-tab-Activ-color); /* رنگ متن برای تب‌های فعال */
    font-weight: bold !important;
}

.nav-tabs .nav-link button {
    margin-bottom: unset !important;
    font-size: 12px !important; /* اندازه فونت برای تب‌های غیرفعال */
    color: var(--bs-tab-notActiv-color); /* رنگ متن برای تب‌های غیرفعال */
}

@media screen and (max-width: 1175px) {
    .nav-tabs .nav-link.active button {
        font-size: 10px;
    }

    .nav-tabs .nav-link button {
        font-size: 9px;
    }
}

/*@media screen and (max-width: 1000px) {*/
@media screen and (max-width: 1200px) {
    .nav-item {
        writing-mode: vertical-rl; /* چینش متن به صورت عمودی از راست به چپ */
        text-align: center;
        vertical-align: middle;
    }

    .nav-btn {
        transform: rotate(0deg);
        padding: 6px 0 !important;
    }

    .nav-link {
        padding: 8px 16px 0 16px !important;
    }
}
/*-----------------------------------------{ ----------------- }-------------------------------------------*/


/*---------------------------------------------------------------------------------*/
/*برای کاردها*/
.card .card-arrow-bottom-left:before, .card .card-arrow-bottom-right:before, .card .card-arrow-top-left:before, .card .card-arrow-top-right:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    background: aqua;
    opacity: .75;
}

.card .card-arrow-bottom-left:after, .card .card-arrow-bottom-right:after, .card .card-arrow-top-left:after, .card .card-arrow-top-right:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: aqua;
    opacity: .75;
}


/*برای input ها*/



.me-3 {
    margin-left: 1rem !important;
    margin-top: 9px;
    margin-right: 10px;
}

/*.form-check-input:checked, .list-group-item.active, .nav-pills .nav-link.active, .nav-pills .show > .nav-link, .page-item.active .page-link {
    background-color: inherit;
    border-bottom: 3px solid #5FC8CC;
    color: #5FC8CC;
    border-bottom-color: #5FC8CC;
    display: block;*/
/* padding: 0.5rem 1rem; */
/*color: #5FC8CC;*/
/* text-decoration: none; */
/* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; */
/*margin-left: 1rem !important;*/
/*padding: 0px;
}*/


.btn-outline-theme {
    color: var(--bs-theme);
    /* border-color: var(--bs-theme); */
    border-color: transparent;
}

.cssss:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #7bf1f5, #2559ad);
}

.cd {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to bottom, #7bf1f5, #2559ad);
}

select option {
    padding: .5rem 0;
    top: 100%;
    background: rgba(var(--bs-body-bg-rgb), .98);
    border: var(--bs-border-width) solid var(--bs-border-input-color);
    box-shadow: 0 .5rem 1rem rgba(var(--bs-inverse-rgb), .075);
    border-radius: 0px 0px 9px 9px;
    color: var(--bs-body-color) !important;
    margin-top: 2px;
    border-top: #fff0;
}

div#app-float-submenu {
    overflow: hidden;
}
