/* Chrome, Safari, Edge, Opera */
input.form-control::-webkit-outer-spin-button,
input.form-control::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
input:-webkit-autofill {
    transition: background-color 600000s 0s, color 600000s 0s;
}