/*#sidebar {
    backdrop-filter: blur(10px);
    background: var(--bs-dashboard-bg);
}
html:before{
    content:none;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 1px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

video::-webkit-media-controls-panel {
    display: none !important;
    opacity: 1 !important;
}

body .Coral button {
    padding: 3px 10px;
    font-size: 15px;
    color: #fff;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 2px solid #ffffff22;
    background: transparent;
    transition: all 1s ease;
}

    body .Coral button span {
        position: absolute;
        content: '';
        top: 1.75em;
        left: 50%;
        width: 20em;
        height: 20em;
        margin-left: -10em;
        border-radius: 42.5%;
        transform-origin: 50% 50%;
        transition: all 1s ease, top 1.5s ease;
    }

    body .Coral button .Coralwave1 {
        background: #ffb733;        
        animation: smallwave 5s infinite linear;
    }

    body .Coral button .Coralwave2 {        
        background: #f97890;
        animation: smallwave 7s infinite linear;
    }

    body .Coral button .Coralwave3 {
        background: #4ab3e1;
        animation: smallwave 8s infinite linear;
    }

    body .Coral button:hover {
        transition: all 1s ease;
        border: 2px solid #195c78;
        transform: translateY(-3px);
    }*/
    /*body .Coral button:hover span{
       top:75%;
    }*/

/* body .Coral button:hover span {
            top: 0.5em;
            transition: all 1s ease, top 1.5s ease;
        }*/

/*@-moz-keyframes wave {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(0.975);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@-webkit-keyframes wave {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(0.975);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@-o-keyframes wave {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(0.975);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@keyframes wave {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(0.975);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

@-moz-keyframes smallwave {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 0.8;
    }

    50% {
        transform: rotate(180deg) scale(0.95);
        opacity: 0.25;
    }

    100% {
        transform: rotate(360deg) scale(1);
        opacity: 0.8;
    }
}

@-webkit-keyframes smallwave {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 0.8;
    }

    50% {
        transform: rotate(180deg) scale(0.95);
        opacity: 0.25;
    }

    100% {
        transform: rotate(360deg) scale(1);
        opacity: 0.8;
    }
}

@-o-keyframes smallwave {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 0.8;
    }

    50% {
        transform: rotate(180deg) scale(0.95);
        opacity: 0.25;
    }

    100% {
        transform: rotate(360deg) scale(1);
        opacity: 0.8;
    }
}

@keyframes smallwave {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 0.8;
    }

    50% {
        transform: rotate(180deg) scale(0.95);
        opacity: 0.25;
    }

    100% {
        transform: rotate(360deg) scale(1);
        opacity: 0.8;
    }
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

#earth {
    width: 120px;
    height: 120px;*/
    /*position: absolute;*/
    /*right: 7%;
    top: 20%;*/
    /*margin-top:20px;*/
    /*border-radius: 50%;
    background-size: 610px;
    box-shadow: inset 8px 36px 80px 36px rgb(0, 0, 0), inset -6px 0 12px 4px rgba(255, 255, 255, 0.3);
    animation-name: rotate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 12s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes rotate {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 610px 0px;
    }
}

@-webkit-keyframes rotate {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 610px 0px;
    }
}



.c-cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid black;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdown > section.highlight {
    font-size: 30px;
    color: black;
    margin-top: 70%;
    margin-bottom: 70%;
}

.dropdown {
    font-size: 20px;
    text-align: center;
    color: #666769;
    overflow: hidden;
    height: 70%;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;*/ /* Firefox */
/*}

    .dropdown > section:first-child {
        margin-top: 85%;
    }

    .dropdown > section {
        margin: 0 0px 50%;
        scroll-snap-align: center;
    }

    .dropdown::-webkit-scrollbar {
        display: none;
    }

.controls {
    margin-left: 20px;
}

.up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
    margin-bottom: 15px;
}

.down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 2px solid black;
    text-align: center;
    border-radius: 2px;
    font-size: 20px;
    padding: 20px;
    position: relative;
    right: 25px;
    margin: 25px 0 25px;
}

.music-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#ticker {
    text-align: center;
    width: 150px;
}

#rotator {
    height: 140px;
    font-family: "Times New Roman";
    font-size: 20px;
    line-height: 70px;
    background-image: url('../Areas/Reporter/Content/flip.png'),url('../Areas/Reporter/Content/flip.png'),url('../Areas/Reporter/Content/flip.png');
    background-position: 0 0, 50% 50%, 100% 150%;
    background-size: 300% 50%;
    background-repeat: no-repeat;
    margin-top: 10px;
    overflow: hidden;
    opacity: 0;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
}

    #rotator span {
        width: 100%;
        height: 50%;
        display: inline-block;
        cursor: default;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }

#result {
    height: 30px;
    font-size: 20px;
    color: white;
    line-height: 30px;
    letter-spacing: 3px;
    -webkit-box-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
}

#ticker2 {
    text-align: center;
    width: 150px;
}

#rotator2 {
    height: 140px;
    font-family: "Times New Roman";
    font-size: 20px;
    line-height: 70px;   
    background-image: url('../Areas/Reporter/Content/flip.png'),url('../Areas/Reporter/Content/flip.png'),url('../Areas/Reporter/Content/flip.png');
    background-position: 0 0, 50% 50%, 100% 150%;
    background-size: 300% 50%;
    background-repeat: no-repeat;
    margin-top: 10px;
    overflow: hidden;
    opacity: 0;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 18px;
}

    #rotator2 span {
        width: 100%;
        height: 50%;
        display: inline-block;
        cursor: default;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }*/

    /*div canvas:nth-child(2){
        display:none;
    }*/

/*.my-super-cool-btn {
    position: relative;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-size:20px;
    box-sizing: border-box;
    display:flex;
    justify-content:center;
}

    .my-super-cool-btn span {
        position: relative;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        font-size: 17px;
    }

        .my-super-cool-btn span:before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            border-radius: 100%;
            border: 7px solid #D9D2D2;
            box-sizing: border-box;
            transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
            box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);            
        }

    .my-super-cool-btn:hover span:before {
        transform: scale(0.8);
        box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
        border: 7px solid #3cd2a5;
    }

    .my-super-cool-btn .dots-container {
        opacity: 0;
        animation: intro 1.6s;
        animation-fill-mode: forwards;
    }

    .my-super-cool-btn .dot {
        width: 8px;
        height: 8px;
        display: block;
        background-color: #3cd2a5;
        border-radius: 100%;
        position: absolute;
        transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
    }

        .my-super-cool-btn .dot:nth-child(1) {
            top: 50px;
            left: 50px;
            transform: rotate(-140deg);
            animation: swag1-out 0.3s;
            animation-fill-mode: forwards;
            opacity: 0;
        }

        .my-super-cool-btn .dot:nth-child(2) {
            top: 50px;
            right: 50px;
            transform: rotate(140deg);
            animation: swag2-out 0.3s;
            animation-fill-mode: forwards;
            opacity: 0;
        }

        .my-super-cool-btn .dot:nth-child(3) {
            bottom: 50px;
            left: 50px;
            transform: rotate(140deg);
            animation: swag3-out 0.3s;
            animation-fill-mode: forwards;
            opacity: 0;
        }

        .my-super-cool-btn .dot:nth-child(4) {
            bottom: 50px;
            right: 50px;
            transform: rotate(-140deg);
            animation: swag4-out 0.3s;
            animation-fill-mode: forwards;
            opacity: 0;
        }

    .my-super-cool-btn:hover .dot:nth-child(1) {
        animation: swag1 0.3s;
        animation-fill-mode: forwards;
    }

    .my-super-cool-btn:hover .dot:nth-child(2) {
        animation: swag2 0.3s;
        animation-fill-mode: forwards;
    }

    .my-super-cool-btn:hover .dot:nth-child(3) {
        animation: swag3 0.3s;
        animation-fill-mode: forwards;
    }

    .my-super-cool-btn:hover .dot:nth-child(4) {
        animation: swag4 0.3s;
        animation-fill-mode: forwards;
    }

@keyframes intro {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes swag1 {
    0% {
        top: 50px;
        left: 50px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        top: 20px;
        left: 20px;
        width: 8px;
        opacity: 1;
    }
}

@keyframes swag1-out {
    0% {
        top: 20px;
        left: 20px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        top: 50px;
        left: 50px;
        width: 8px;
        opacity: 0;
    }
}

@keyframes swag2 {
    0% {
        top: 50px;
        right: 50px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        top: 20px;
        right: 20px;
        width: 8px;
        opacity: 1;
    }
}

@keyframes swag2-out {
    0% {
        top: 20px;
        right: 20px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        top: 50px;
        right: 50px;
        width: 8px;
        opacity: 0;
    }
}

@keyframes swag3 {
    0% {
        bottom: 50px;
        left: 50px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        bottom: 20px;
        left: 20px;
        width: 8px;
        opacity: 1;
    }
}

@keyframes swag3-out {
    0% {
        bottom: 20px;
        left: 20px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        bottom: 50px;
        left: 50px;
        width: 8px;
        opacity: 0;
    }
}

@keyframes swag4 {
    0% {
        bottom: 50px;
        right: 50px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        bottom: 20px;
        right: 20px;
        width: 8px;
        opacity: 1;
    }
}

@keyframes swag4-out {
    0% {
        bottom: 20px;
        right: 20px;
        width: 8px;
    }

    50% {
        width: 30px;
        opacity: 1;
    }

    100% {
        bottom: 50px;
        right: 50px;
        width: 8px;
        opacity: 0;
    }
}
.NotAcceptedSvg {
    width: 20px;
    color: #ff5c00;
}
.AcceptedSvg {
    width: 20px;
    color: #90e2ee;
}
.card-body{
    transition:all 0.2s ease-in-out;
}
    .card-body:hover {*/
        /*box-shadow: #fff 0px 0px 9px 0px, rgb(51, 51, 51);*/
        /*box-shadow: #fff 0px 0px 10px, rgb(51, 51, 51) 0px 0px 0px 3px;        
    }


@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

    .wave:nth-of-type(2) {
        bottom: -1.25em;
        animation: wave 18s linear reverse infinite;
        opacity: 0.8;
    }

    .wave:nth-of-type(3) {
        bottom: -2.5em;
        animation: wave 20s -1s reverse infinite;
        opacity: 0.9;
    }

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
.cardTitle {
    font-weight: bold;
    font-style: italic;
    font-size:18px;
}*/